.academy-features {
    padding-bottom: 5%;
    /* padding: 13% 0; */
}
.academy-features .text-boxes {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.academy-features .text-boxes  .box {
    width: 33%;
    margin-bottom: 20px;
    margin-left: 20px;
    padding: 20px;
    background: #fff;
    box-shadow: 0px 4px 64px #13173D14;
    border-radius: 10px;

}
@media (max-width: 991px) {
    .academy-features .text-boxes {
        flex-direction: column;
    }
    .academy-features .text-boxes .box {
        width: 90%;
    }
}

.academy-features .text-boxes  .box img {
    border-radius: 20px;
    padding: 10px;
    border: 2px solid #564FFF;
    margin-bottom: 14px;
}

.academy-features .text-boxes  .box h6 {
    font-weight: bold;
}

.academy-features .text-boxes  .box p {
    text-align: left;
}
h2.custom-heading{
    font: normal normal bold 40px/46px Ubuntu;
    letter-spacing: 0px;
    color: #000000;
}
p.custom-p{
    font: normal normal normal 20px/24px Ubuntu;
    letter-spacing: 0px;
    color: #000000;
}
.academy-partners {
    background-color: #f1f1f1;
    padding: 5%;

}

.academy-clients-container {
    display: flex;
    justify-content: space-evenly;
}

.academy-partners .client {
    width: 150px;
    height: 100px;
    background: var(--unnamed-color-000000) 0% 0% no-repeat padding-box;
    background: #000000 0% 0% no-repeat padding-box;
    border-radius: 20px;
    opacity: 0.1;
}
.navbarButton{
    box-shadow: 0px 4px 64px #13173d1a;
    border-radius: 20px;
    font-size: 15px;
}
.navBarLoginLink{
    font-size: 17px;
    font-weight: 500;
    color: #564FFF;
}
.heroButton{
        margin-top: 35px;
        background: #FFFFFF 0% 0% no-repeat padding-box;
        box-shadow: 0px 4px 46px #13173d1a;
        border-radius: 20px;
        border: none;
        color: #564FFF;
        font-size: 17px;
        height: 60px;
}

.become-instructor {
    background: rgba(0, 0, 0, 0.05);
    padding: 6%;
}

.become-instructor .layout-cont .img-container {
    background: url(../img/become-instructor.png);
    background-size: cover;
    width: 500px;
    height: 600px;
    border-radius: 20px;
}

.become-instructor .layout-cont  .text-container {
    position: relative;
    left: 80%;
    top: 50px;
    background-color: #564FFF;
    align-items: center;
    width: 700px;
    padding: 40px;
    height: 400px;
    border-radius: 20px 20px 20px 0;
    padding-top: 15%;
    padding-left: 30%;
}

.become-instructor .layout-cont  .text-container h3 {
        color: #fff;
        /* font-weight: 500; */
        font: normal normal bold 40px/70px Ubuntu;
}

.become-instructor .layout-cont  .text-container p {
    font: normal normal normal 20px/24px Ubuntu;
    letter-spacing: 0px;
    color: #FFFFFF;
}
.become-instructor .text-container-mobile {
    background-color: #564FFF;
    align-items: center;
    padding: 40px;
    border-radius: 20px 20px 20px 0;
    text-align: center;
}

.become-instructor .text-container-mobile h3 {
    color: #fff;
    /* font-weight: 500; */
    font: normal normal bold 29px/70px Ubuntu;
}

.become-instructor .text-container-mobile p {
    font: normal normal normal 20px/24px Ubuntu;
    letter-spacing: 0px;
    color: #FFFFFF;
}


.bcm-instructor{
    height: 50px;
    width: 180px;
    border-radius: 20px;
}
/* .bcm-instructor:hover, 
.bcm-instructor:active,
.bcm-instructor:focus{
    color: #564FFF;
    background: #fff;
} */
.become-instructor .mobile-display{
    display: none;
}
.contact-us-homepage-section{
 }

.contact-us-homepage-section input{
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 4px 64px #13173d14;
    border-radius: 20px;
    height: 50px;
    font: normal normal normal 20px/24px Ubuntu;
    letter-spacing: 0px;
    color: #5C5C5C;
    margin-top: -20px;
}
.cust-login-container input {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 4px 64px #13173d14;
    border-radius: 20px;
    height: 56px;
    font: normal normal normal 20px/24px Ubuntu;
    letter-spacing: 0px;
    color: #5C5C5C;
}
input.my-custom-input{
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 4px 64px #13173d14;
    border-radius: 20px;
    height: 50px;
    border: none;
    width: 100%;
    font: normal normal normal 20px/24px Ubuntu;
    letter-spacing: 0px;
    color: #5C5C5C;
    padding-left: 15px;
}
.contact-us-homepage-section textarea{
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 4px 64px #13173d14;
    border-radius: 20px;
    font: normal normal normal 20px/24px Ubuntu;
    letter-spacing: 0px;
    color: #5C5C5C;
}
.contact-us-homepage-section button{
        width: 100%;
        background: #564FFF 0% 0% no-repeat padding-box;
        box-shadow: 0px 4px 64px #13173d14;
        border-radius: 20px;
        height: 56px;
        font: normal normal bold 20px/24px Ubuntu;
        letter-spacing: 0px;
        color: #FFFFFF;
}
.cust-login-container button {
        width: 100%;
        background: #564FFF 0% 0% no-repeat padding-box;
        box-shadow: 0px 4px 64px #13173d14;
        border-radius: 20px;
        height: 56px;
        font: normal normal bold 20px/24px Ubuntu;
        letter-spacing: 0px;
        color: #FFFFFF;
}
.custom-input{
    box-shadow: 0px 4px 64px #13173D14;
    border-radius: 20px;
    height: 50px;
    font: normal normal normal 16px/29px Ubuntu;
    letter-spacing: 0px;
    color: #969696;
}
.custom-button{
    border-radius: 20px;
}
@media (max-width:991px) {
    .become-instructor .layout-cont{
        display: none;
    }
    .become-instructor .mobile-display{
    visibility: visible;
}
    .contact-us-homepage-section {
        width: 100%;
    }
}
.newslatter-home-section {
    padding: 7%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.newslatter-home-section i {
    padding: 10px;
    font-size: 35px;
    border-radius: 10px;
    border: 2px solid #564FFF;
    color: #564FFF;
}


.newslatter-home-section .news-send {
    position: relative;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 4px 64px #13173D14;
    border-radius: 20px;
    width: 70%;
}

.newslatter-home-section .news-send input {
    background: transparent;
    border: none;
    outline: none;
    padding: 0 20px;
    width: 80%;
}

.newslatter-home-section .news-send button {
    background: #564FFF;
    color: #fff;
    font-weight: 600;
    border: none;
    position: absolute;
    width: 20%;
    height: 50px;
    border-radius: 0 20px 20px 0;
}
.form__field {
    margin-top: 44px;
        width: 600px;
        height: 60px;
        position: relative;
        align-items: center;
        border-radius: 0.125em;
        border-radius: 20px;
        display: flex;
        background: #FFFFFF 0% 0% no-repeat padding-box;
        box-shadow: 0px 4px 64px #13173d14;
}
@media (max-width: 991px) {
    .form__field{
        width: 100%;
    }
}

.form--search input {
    flex-grow: 1;
    height: 60px;
    border: none;
    background: transparent;
    font: inherit;
    margin: 0;
    padding: 0;
    padding-left: 10px;
    font: normal normal normal 17px/17px Ubuntu;
}

.form--search input:focus {
    outline: none;
    border: none;
}

.form--search button {
        position: absolute;
        right: 0;
        float: right;
        border-radius: 0 20px 20px 0;
        height: 60px;
        background-color: #564FFF;
        border: none;
        width: 150px;
        color: #fff;
        font: normal normal bold 17px/24px Ubuntu;
}

.form--search button:hover {
    background-color: #564FFF;
}
.course-button{
    width: 200px;
    height: 65px;
    box-shadow: 0px 4px 64px #13173D14;
    border: 0.5px solid #707070;
    border-radius: 20px;
    background: transparent;
    font: normal normal bold 17px/20px Ubuntu;
    letter-spacing: 0px;
    color: #514AEF;
}
.home-course-category{
        text-decoration: none;
        text-align: right;
        font: normal normal normal 15px/17px Ubuntu;
        letter-spacing: 0px;
        color: #5C5C5C;
}
.home-course-title{
    font: normal normal bold 20px/24px Ubuntu;
    letter-spacing: 0px;
    color: #000000;
}
.home-course-price {
    font: normal normal normal 20px/24px Ubuntu;
    letter-spacing: 0px;
    color: #564FFF;
}
.cust-login-container{
    DISPLAY: flex;
    justify-content: center;
    align-items: center;
}
.cust-login-container .cust-login{
    width: 60%;
}
@media (max-width: 991px) {
    .cust-login-container .cust-login {
        width: 95%;
    }
}
.filter-up-buttons-active{
    background: #564FFF 0% 0% no-repeat padding-box;
    font: normal normal bold 20px/24px Ubuntu;
    letter-spacing: 0px;
    color: #FFFFFF;
    height: 50px;
    font: normal normal bold 20px/24px Ubuntu;
    letter-spacing: 0px;
    font: normal normal bold 20px/24px Ubuntu;
    letter-spacing: 0px;
    border-radius: 20px;
    padding: 10px;
}
.filter-up-buttons{
    border-radius: 20px;
    height: 50px;
    font: normal normal bold 20px/24px Ubuntu;
    letter-spacing: 0px;
    background: #1200001A 0% 0% no-repeat padding-box;
    font: normal normal bold 20px/24px Ubuntu;
    letter-spacing: 0px;
    color: #5C5C5C;
    padding: 10px;
}

 .header-search {
    position: relative;
    width: 448px;
    height: 48px;
    box-shadow: 0px 4px 64px #13173D1A;
    border-radius: 15px;
}

 .header-search input {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: #5C5C5C;
    background: transparent;
    border: none;
    outline: none;
    border-radius: 4px;
    padding: 0 10px 0 45px;
    padding-left: 50px;
}

 .header-search input:focus,
 .header-search input:active {
    border: none;
    outline: none;
}

 .header-search input::placeholder {
    color: #5c5c5c;
}

 .header-search .fa-search {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 10px;
    color: #8f8888;
    padding-right: 10px;
    font-size: 24px;
}
@media (max-width: 320px) {
    .header-search {
        display: none;
    }
}

@media (max-width: 425px) {
    .header-search {
        display: none;
    }
}

@media (max-width: 768px) {
    .header-search {
            width: 323px;
    }
}
@media (max-width: 1024px) {
    .header-search {
        width: 454px;
    }
}
.course-card-buy-page{
    display: flex;
    flex-direction: column;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 4px 64px #13173D14;
    border-radius: 20px;
}
.course-card-buy-page img{
    width: 100%;
    border-radius: 20px 20px 0 0;
}
.course-card-buy-page .text-data{
    padding: 20px;
}
.course-card-buy-page .course-card-button{
    width: 200px;
    height: 50px;
    background: #504AEE 0% 0% no-repeat padding-box;
    box-shadow: 0px 4px 64px #13173D14;
    border-radius: 20px;
}
.course-buy-page-bold{
    font: normal normal bold 20px/24px Ubuntu;
    letter-spacing: 0px;
    color: #5B5C5C;
}
.course-buy-page-next-p{
    font: normal normal normal 20px/24px Ubuntu;
    letter-spacing: 0px;
    color: #5C5C5C;
}
.course-buy-page-desc{
    font: normal normal 300 20px/24px Ubuntu;
    letter-spacing: 0px;
    color: #000000;
}
.course-buy-page-rating{
    font: normal normal normal 20px/24px Ubuntu;
    letter-spacing: 0px;
    color: #5B5B5B;
}
.course-buy-page-heading{
    font: normal normal bold 30px/35px Ubuntu;
    letter-spacing: 0px;
    color: #000000;
}
.course-buy-page-price{
    font: normal normal bold 20px/24px Ubuntu;
    letter-spacing: 0px;
    color: #564FFF;
}
.cart-page-inpuit{
        background: #FFFFFF 0% 0% no-repeat padding-box;
        box-shadow: 0px 4px 64px #13173d14;
        border-radius: 20px 0 0 20px;
        height: 50px;
}
.cart-page-buttonr{
        height: 50px;
        background: #564FFF 0% 0% no-repeat padding-box;
        border-radius: 0px 20px 20px 0px;
        font: normal normal bold 15px/29px Ubuntu;
        letter-spacing: 0px;
        color: #FFFFFF;
        width: 149px;
        border: none;
}
.custom-cart-input{
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 4px 64px #13173D14;
    border-radius: 20px;
    height: 50px;
    margin-bottom: 15px;
}
.cart-payment-flex{
    display: flex;
}
.cart-payment-heading{
    font: normal normal bold 30px/35px Ubuntu;
    letter-spacing: 0px;
    color: #000000;
}
.cart-payment-price{
    font: normal normal bold 20px/24px Ubuntu;
    letter-spacing: 0px;
    color: #564FFF;
    paddin-bottom: 20px;
}
.cart-page-padding{
    /* padding-left: 60px; */
}
.custom-testomonials {
    background: rgba(0, 0, 0, 0.05);
    /* text-align: center; */
    padding: 5% 0;
}

.custom-testomonials h3 {
    font-weight: bold;
}

.custom-testomonials .desc {
    font-weight: bold;
}

.custom-testomonials .columns-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
}



.custom-testomonials .columns-container .first {
    width: 25%;
}

.custom-testomonials .columns-container .middle {
    width: 35%;
}

.custom-testomonials .columns-container .column-boxes .box {
    text-align: start;
    background: #FFFFFF;
    padding: 30px;
    margin-bottom: 20px;
    border-radius: 20px;
}

.custom-testomonials .columns-container .column-boxes .box p {
    font-size: 15px;
    text-align: justify;
}

.custom-testomonials .columns-container .column-boxes .box h6 {
    font-weight: 600;
}

.custom-testomonials .columns-container .column-boxes .box i {
    font-size: 30px;
    padding: 10px;
    color: #564FFF;
    border: 2px solid #564FFF;
    border-radius: 15px;
    margin-bottom: 15px;
}

@media (max-width: 375px) {
    .custom-testomonials .columns-container {
        flex-direction: column;
        padding: 20px;
    }

    .custom-testomonials .columns-container .first {
        width: 100%;
    }

    .custom-testomonials .columns-container .middle {
        width: 100%;
    }
     h2.custom-heading {
        font: normal normal bold 34px/46px Ubuntu;
    }
    p.custom-p{
        font: normal normal normal 17px/24px Ubuntu;
    }
}

.mobile-instructor{
    background: #564FFF;
    color: #fff;
    text-align: center;
    border-radius: 20px;
    padding: 30px;
}
.custom-menu-bar{
    background: #fff;
    position: relative;
    height: 100px;
    /* padding: 20px; */
    border-radius: 20px;
    width: 11%;
    box-shadow: 0px 4px 64px #13173D14;
    margin-top: 80px;
}
.custom-menu-bar a .custom-menu {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 10px;
}
.custom-menu-bar a .custom-menu span{
    padding-top: 3px;
}
.user-custom-panel .user-img img{
    width: 200px;
    border-radius: 50%;
}
@media (max-width: 1440px) {
    .mobile-instructor {
        display: none;
    }
}
@media (max-width: 1024px) {
    .mobile-instructor {
        display: none;
    }
}
@media (max-width: 768px) {
    .mobile-instructor {
        display: block;
    }

    .become-instructor {
        display: none;
    }
}
@media (max-width: 320px) {
    .mobile-instructor {
        display: block;
    }
    .form--search button {
        width: 93px;
    }

    .become-instructor {
        display: none;
    }
}
@media (max-width: 375px) {
    .mobile-instructor {
        display: block;
    }

    .become-instructor {
        display: none;
    }
    .form--search button {
        width: 93px;
    }
}
@media (max-width: 425px) {
    .mobile-instructor {
        display: block;
    }
    .form--search button {
        width: 93px;
    }

    .become-instructor {
        display: none;
    }
    .cart-page-padding {
        padding-left: auto;
    }
}